<div class="card">
  <div class="card-body">
    <form (ngSubmit)="onFormSubmit(f)" #f="ngForm">
      <div class="d-flex justify-content-between">
        <div class="todo-edit-wrapper">
          <div>
            <h3>{{ "TODOS.EDIT_TODO" | translate }}:</h3>
          </div>

          <div class="ms-3 todo-input">
            <div class="login-form form">
              <div class="form-group">
                <input
                  id="todoItemInputId"
                  aria-describedby="todoItemInputId"
                  type="text"
                  class="form-control"
                  [ngClass]="{ 'form-control': true, 'is-invalid': hasErrors }"
                  autocomplete="off"
                  aria-label="todoInputText"
                  name="todoInput"
                  [(ngModel)]="todoInput"
                  required
                  autofocus
                />
              </div>
            </div>
          </div>
          <div class="ms-3">
            <button type="submit" class="btn btn-submit-todo">
              {{ "TODOS.UPDATE_TODO" | translate }}
            </button>
          </div>
        </div>
        <div class="pe-3">
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="onClose()"
          ></button>
        </div>
      </div>
    </form>
  </div>
</div>
