/* You can add global styles to this file, and also import other style files */
@import "./app/app.assets-variables.scss";

html {
  background-color: $bg-main-color;
}
body {
  min-height: 90vh;
  margin: 0 auto;
  --bs-body-bg: $bg-main-color;
}

/**
Change the focus outline
*/
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $btn-main-color-border;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 3px $btn-main-color-border;
  outline: 0 none;
}

.container-fluid {
  width: 96vw !important;
}
