<!-- TODO COMPONENT -->
<div class="mt-3">
  <app-todo-edit *ngIf="isEdited"></app-todo-edit>

  <div class="card" *ngIf="!isEdited">
    <div class="card-body">
      <form (ngSubmit)="onFormSubmit(f)" #f="ngForm">
        <div class="todo-addition-wrapper">
          <div><h3>Add todo:</h3></div>

          <div class="ms-3 todo-input">
            <div class="login-form form">
              <div class="form-group">
                <input
                  id="todoItemInputId"
                  aria-describedby="todoItemInputId"
                  type="text"
                  class="form-control"
                  [ngClass]="{ 'form-control': true, 'is-invalid': hasErrors }"
                  autocomplete="off"
                  aria-label="todoInputText"
                  name="todoInput"
                  [(ngModel)]="todoInput"
                  required
                  autofocus
                />
              </div>
            </div>
          </div>
          <div class="ms-3">
            <button type="submit" class="btn btn-submit-todo">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-body">
      <ul class="list-group">
        <li
          *ngFor="let todo of todoItems.slice().reverse()"
          class="list-group-item d-flex justify-content-between pt-0 pb-0"
        >
          <div
            class="flex-grow-1 pt-2 pb-2 hand-cursor"
            (click)="onInitEdit({ id: todo.id, action: todo.action })"
          >
            {{ todo.action }}
          </div>
          <button
            type="button"
            class="btn-close pt-3 pb-2"
            aria-label="Close"
            (click)="deleteTodo(todo.id)"
          ></button>
        </li>
      </ul>
    </div>
  </div>
</div>
